#profile-page-panel{
    display: flex;
    flex-direction: column;

    background-color: #EEEEEE;
    padding: 2rem 6rem;
    border-radius: 0.4rem;

    width: 50%;
    min-height: 65%;
}

#profile-img{
    border-radius: 50%;
    border: 2px solid black;
    width: 15rem;
    height: 15rem;
}

#profile-page-upper {
    display: flex;
    column-gap: 3rem;
}

#profile-page-flag{
    width: 4rem;
}

#profile-page-new-icon{
    background-color: #1aca1a;

    padding: 0.5rem 1.25rem;
    border-radius: 1rem;
    font-size: 1.5em;
}