#main-page-container{
    display: flex;
    flex-direction: column;

    margin-bottom: 3rem;
}

/* BANNER */

#main-page-banner-container{
    /* since the child we want to position is position: absolute (main-page-logo-container), we need parent to be
     position: relative. This is because the size/position of absolute elements is relative to its nearest POSITIONED
     ANCESTOR, i.e nearest parent that has a position other than static (default)*/
    position: relative;
}

#main-page-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;

    font-size: 3.2rem;
    font-weight: bold;
    color: #F8F4E1;
}

#banner-image{
    width: 100%;
    height: auto;
}

.divider {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #9F9F9F;
    width: 75%;
    margin: 2rem auto;
}


/* PAGE */


/* icons */
#main-page-icons-container{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 3rem;
}

.main-page-icon-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 0.5rem;
}

.main-page-icon-link img{
    width: 5rem;
    height: auto;

    transition: 0.2s;
}

.main-page-icon-link img:hover{
    scale: 1.15;
}

/* display */
#main-page-display-container{
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0 5%;
}

.main-page-display-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}