#login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../../assets/images/library-bw.jpg");
    background-size: cover;
    background-position: center;

    height: 100vh;
}

#login-panel-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #EEEEEE;
    border-radius: 0.15rem;

    padding: 1.5rem 6rem;
}

#login-title-text{
    font-size: 2.0rem;

    margin-bottom: 3rem;
}

.login-label-text{
    color: #767676;
    font-size: 0.9rem;

    align-self: start;

    margin-bottom: 0.25rem;
}

.login-input{
    border: none;
    border-radius: 2rem;
    background-color: #D9D9D9;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;

    width: 20vw;
}

.login-input:focus{
    outline: none;
}

.login-submit-button{
    background-color: black;
    color: white;
    border-radius: 2rem;
    border: none;
    font-weight: bold;

    padding: 1rem 6rem;
    margin-top: 3rem;
    margin-bottom: 7rem;

    transition-duration: 0.2s;
}

.login-submit-button:hover{
    background-color: rgb(101, 100, 100);
    scale: 1.05;
    cursor: pointer;
}

.register-link{
    color: blue;
}

#login-status-text-error{
    color: red;
}

#login-status-text-success{
    color: green;
}