.review-container{
    background: #EEEEEE;

    width: 75%;
    margin: 1rem;
    padding: 1.25rem;
}

.review-profile-img{
    width: 4rem;
    height: 4rem;
}

.review-upper-container{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.review-container-small{
    display: grid;
    grid-template-columns: 70% 1fr;

    background-color: #D9D9D9;

    width: 100%;
    padding: 0.25rem 1.25rem;
    margin-bottom: 1rem;
}

